{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "dotenv/config",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
